<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/projects">Projects</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/projects/updates/{{project.Id}}">Updates</a>
        </li>
        <li class="breadcrumb-item active">
            Log
        </li>
    </ol>
</nav>
