<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/projects">Projects</a>
        </li>
        <li class="breadcrumb-item active">
            Playbooks
        </li>
    </ol>
</nav>
