<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/projects">Projects</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/projects/playbooks/{{project.Id}}">Playbooks</a>
        </li>
        <li class="breadcrumb-item active">
            Runs
        </li>
    </ol>
</nav>
