<div class="mb-3 input-group">
    <span class="input-group-text">
        <i class="bi bi-search"></i>
    </span>
    <label for="filter" class="d-none">Filter</label>
    <input type="text" id="filter" class="form-control" value="">
</div>
