<div class="form-floating mb-3">
    <input type="text" id="name" name="name" class="form-control" placeholder="Key name" required>
    <label for="name">Name</label>
</div>
<div class="form-floating mb-3">
    <input type="password" id="password" name="password" class="form-control" placeholder="Key password">
    <label for="password">Password</label>
</div>
<p class="text-secondary">
    Leave password field blank if private key is not encrypted
</p>
<div class="form-floating mb-3">
    <textarea id="content" name="content" class="form-control" style="height: 10rem" placeholder="Key content" required></textarea>
    <label for="content">Private key content</label>
</div>
<hr>
<div class="mb-3 text-end">
    <button type="submit" class="btn btn-primary">
        Save key
    </button>
</div>
