{% extends "includes/layout.twig" %}

{% block title %}
    Private keys - ensemble
{% endblock %}

{% block content %}

    <h1>Private keys</h1>

    <p>
        <a href="/keys/new" class="btn btn-outline-success">
            <i class="bi bi-plus"></i> New key
        </a>
    </p>

    {% if keys %}
        <ul class="list-group list-group-hover">
            {% for key in keys %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-11">
                            <div class="lead">
                                {% if key.Password %}
                                    <i class="bi bi-key" title="Encrypted"></i>
                                {% endif %}
                                {{ key.Name }}
                            </div>
                        </div>
                        <div class="col-1 text-nowrap text-end">
                            <a class="btn btn-sm btn-outline-danger"
                               title="Delete"
                               href="/keys/delete/{{ key.Id }}"
                               ><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% include "includes/empty_state.twig" with icon="bi bi-key" text="No private keys found" %}
    {% endif %}

{% endblock %}
