{% extends "includes/layout.twig" %}

{% block title %}
    Private keys - ensemble
{% endblock %}

{% block assets %}
    <script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/assets/filter.js"></script>
{% endblock %}

{% block content %}

    <h1>Private keys</h1>

    <p>
        <a href="/keys/new" class="btn btn-outline-success">
            <i class="bi bi-plus-circle"></i> New key
        </a>
    </p>

    {% if keys %}
        {% include "includes/filter.twig" %}

        <ul class="list-group list-group-hover filter-container mb-3">
            {% for key in keys %}
                <li class="list-group-item filter-element">
                    <div class="row">
                        <div class="col-11">
                            <div class="lead">
                                {% if key.Password %}
                                    <i class="bi bi-key" title="Encrypted"></i>
                                {% endif %}
                                <span class="filter-field">{{ key.Name }}</span>
                            </div>
                        </div>
                        <div class="col-1 text-nowrap text-end">
                            <a class="btn btn-sm btn-outline-danger"
                               href="/keys/delete/{{ key.Id }}"
                               title="Delete"
                               ><i class="bi bi-x-circle"></i></a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% include "includes/empty_state.twig" with icon="bi bi-key" text="No private keys found" %}
    {% endif %}

{% endblock %}
