{% extends "includes/layout.twig" %}

{% block title %}
    {{ project.Name }} - delete - ensemble
{% endblock %}

{% block content %}

    <h1>Delete project</h1>

    <form method="post" action="/projects/delete/{{ project.Id }}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_ensemble_csrf" value="{{ _csrf_token }}">
        <p class="lead">
            Confirm deletion of project &quot;{{ project.Name }}&quot;
        </p>
        <hr>
        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-danger">Delete project</button>
        </div>
    </form>

{% endblock %}
