{% extends "includes/layout.twig" %}

{% block title %}
    {{ project.Name }} - repository update log - ensemble
{% endblock %}

{% block content %}
    {% include "includes/breadcrumbs/project_update_log.twig" %}

    <h1>Repository update log</h1>
    <h2>{{ project.Name }}</h2>

    <div class="card mb-3 mt-3">
        <div class="card-header">
            {% include "includes/project_update_title.twig" %}
        </div>
        <div class="card-body">
            <pre><code>{{ update.Log }}</code></pre>
        </div>
    </div>

{% endblock %}
