{% extends "includes/layout.twig" %}

{% block title %}
    {{project.Name}} repository updates - ensemble
{% endblock %}

{% block content %}
    <h1>Repository updates</h1>
    <h2>{{project.Name}}</h2>
{% endblock %}