{% extends "includes/layout.twig" %}

{% block title %}
    New user - ensemble
{% endblock %}

{% block content %}

    <h1>New user</h1>

    <form method="post" action="/users/new" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_ensemble_csrf" value="{{ _csrf_token }}">
        {% include "includes/form_user.twig" with mode="create" %}
    </form>

{% endblock %}
